html, body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #404040;
}

body {
  padding-top: 45px;
}

body p {
/*    background-image: url(../images/multi_track_greyscale.jpg);*/
font-size: 1.25rem;
/*font-weight: bold;*/
}

.no-touch html, .no-touch body, .no-touch .splash {
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

/* Nice font and spacing found on http://premium.wpmudev.org/blog/improve-wordpress-development-workflow-local-server/ */
/*<link rel="stylesheet" href="http://use.typekit.net/c/92c31f/1w;freight-sans-pro,2,TJC:R:i4,TJH:R:i6,TJ8:R:n3,TJB:R:n4,TJD:R:n5,TJG:R:n6;freight-text-pro,2,WHZ:R:i4,WHY:R:n4,WLw:R:n5/d?3bb2a6e53c9684ffdc9a98f51b5b2a629c34aeb0cd1eddbcfc1ab033e795e4008c48f6a4125963d113bd95bd8c8f26444b72ed47b49b024327e2c0471da908f3428c08e96edaae7c6feb55b5a3fc436188d65fb31d1d92f8d260e7225331a26039221d2b5c76100676644e9c5f85e0539c87ff6a2927b9362bec58b66962106c0f41cdc2841c12eddcd245372c465803f111d11279cbce9f3a8b338a3bb8aa9fe3d8367d3ca0649585cca5134dbdc7290b151956cd208eb982ac8a64d09c377aab59e6baa20433545d6623d0cdfe6a0b021ea743ca12143adceba4d9f606b0000319ae60ca704f" media="all">

.article-style p {
  font: 400 22px/35px "freight-sans-pro",sans-serif;
  color: #555;
  padding-left: 0;
  padding-right: 0;
  letter-spacing: 0;
  margin-bottom: 20px;
  word-break: break-word;

  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;

}*/




/* background cover and position fixed don't play nice. Must fix position the div, not the background. */

/*.header-splash {
  position:relative;
  height:inherit;
  padding:30px;
  border:2px solid #000;
  background:#fff;
}

.header-splash img {
  position: relative;
  /*border:3px solid #000;
}*/

/****************************************************
NAV SECTION
*****************************************************/

@media (min-width:642px) {

  body {
    padding-top: 0;
  }

  .f-topbar-fixed {
    margin-top: -45px;
  }

  .fixed {
    position: fixed;
  }

  /*.navbar {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    /*padding: 0 60px;*/
    /*background: rgba(200,0,0,0.7);
  }*/

  .top-bar {
    margin-top: -45px;
    background: rgba(30,31,25,0.9);
  }

  .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: rgba(250,0,0,0.7);
  }

  .top-bar-section li:hover.active:not(.has-form) a:not(.button) {
    background: rgba(200,0,0,0.7);
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background:transparent;
  }

  .top-bar-section li:hover:not(.has-form) a:not(.button) {
    background: rgba(200,0,0,0.7);
  }

  .fixed .top-bar {margin:0;}

  .top-bar-section ul li {
    background: transparent;
  }
}

/****************************************************
END NAV SECTION
*****************************************************/

/*.columns {
padding: 0 50px;
}*/

.logo {
  position: absolute;
  top: 0;
  /*right: 0;*/
  width: 200px;
  height: auto;
}

section {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section::before, section::after {
position: absolute;
content: '';
pointer-events: none;
}

.banner {
  max-height: 45%;
}

.splash {
  position: relative;
  height: 160px;
  background: url(../images/grey_track.jpg) no-repeat center center;
  background-size: cover;
}

/*.banner:after {
content: '';
position: absolute;
bottom: 0;
width: 100%;
height: 20px;
background: transparent url(../images/section-arrow2.png) top center;
}*/

/* Font Sizes Reference

0.75      12px
0.8125    13px
0.875     14px
1         16px
1.125     18px
1.25      20px
1.5       24px

*/

.signature {
  padding-top: 30px;
  font-family: 'Alex Brush', cursive;
  font-size: 4rem;
  line-height: 4rem;
}

.strap, .quote {
  font-family: arial;
  font-style: italic;
  font-size: 1rem;
  line-height: 1rem;
  padding: 10px 0;
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.quote {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  margin-top: -1.6rem;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*padding: 0 60px;*/
  background: rgba(200,0,0,0.7);
}

.companyname {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -1.5rem;
/*  top:150px;
  left:60px;*/
  width: 100%;
  /*padding: 0 60px;*/
  /*background: #1d1d1d;*/
}

.page-title-wrapper {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
}

.companyname p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 10px;
  font-style: normal;
  text-transform: uppercase;
  background: #fff;
  word-wrap: break-word;
}

.content {
  padding: 30px 0;
}

.contact {
  color: #fff;
  background: #1f1f1f;
}

/*.contact h1 {
  margin-left: -1.5rem;
}*/

.contact p {
  font-size: 1rem;
}

address {
  margin: 1rem 0;
  margin-left: 1.5rem;
}

.contact address p  {
  font-style: normal;
  font-size: 0.825rem;
  margin: 0;
}

address p:first-of-type:before {
  font-family: 'FontAwesome';
  /*font-family: foundation-icons;*/
  position: absolute;
  left: 1.5em;
  width: 2em;
  text-align: left;
}

address:first-of-type p:first-of-type:before {
    content: '\f015';
    /*content: '\f15a';*/

}

address:nth-of-type(2) p:first-of-type:before {
    content: '\f0e0';
    /*content: '\f1f8';*/
}

address:nth-of-type(3) p:first-of-type:before {
    content: '\f095';
        /*content: '\f16d';*/
}

footer, footer div {
  padding: 0.5rem 0;
  color: #888;
  background: #262626;
}

footer p {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  text-align: center;
}

footer div div:first-of-type p {
  text-align: left
}

footer div div:nth-of-type(2) {
  top: 1rem;
}

footer div div:nth-of-type(2) p {
  text-align: right;
}

/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
 *******************************************************/

@media (min-width:642px) {
  nav.top-bar {
    text-align: center;
  }

  section.top-bar-section {
    display: inline-block;
    /*margin-left: -132px;*/
  }

/*  body > section, .caption {
    padding: 0 60px;
  }*/

/*    body > section:nth-of-type(1) {
    padding:0;
    padding:45px 0 0 0;
  }*/

/*  body > section:nth-of-type(2) {
    padding:0;
    margin:0;
  }*/

/*  .banner {
    max-height:500px;
  }*/

  .companyname p {
    font-size: 3rem;
    line-height: 3rem;
  }

  .splash {
    height: 400px;
  }

  .strap {
    font-size: 2.8rem;
    line-height: 2.8rem;
    padding: 30px 0;
  }

  .quote {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .panel i {
    font-size: 7rem;
    color: rgba(245,0,0,0.7);
    text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
  }
}

/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
 *******************************************************/

.hvr-glow {
/*  display: inline-block;
  vertical-align: middle;*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hrr {
/*    width:100%;*/
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin: 30px auto 50px auto;
}

.hrr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: transparent;
}

.hrr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/* Triangles */
/*.ss-style-triangles::before,*/
.ss-style-triangles::after {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

/*.ss-style-triangles::before {
  top: -50px;
  background: #2980b9;
}*/

.ss-style-triangles::after {
  bottom: -25px;
  z-index: 10;
  /*background: inherit;*/
  background-image: url(../images/leather.png);
}

.white::after {
  background: #fff;
}

/* Zig Zag (3d up and simple down) */
.ss-style-zigzag::before,
.ss-style-zigzag::after {
    right: 0;
    left: 0;
    z-index: 10;
    display: block;
    height: 90px;
    background-size: 50px 100%;
    /*background-image: url(../images/leather.png);*/
    /*background-color: rgba(100, 100, 0, 0.3);*/
    /*background-repeat: repeat-x;*/
  }

.ss-style-zigzag::before {
  top: -90px;
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, #3498db));
  background-image:
    linear-gradient(315deg, #3093d5 25%, transparent 25%),
    linear-gradient( 45deg, #3498db 25%, transparent 25%);
  background-position: 50%;
}

/*.ss-style-zigzag::after {
  top: 100%;
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, rgba(0,0,0,.3)), color-stop(0.25, rgba(0,0,0,.3)));
  background-image:
    linear-gradient(135deg, rgba(0,0,0,.3) 18%, transparent 18%),
    linear-gradient(225deg, rgba(0,0,0,.3) 18%, transparent 18%);
  background-position: 50%;
}*/

/* Multiple Triangles */
.ss-style-multitriangles::before,
.ss-style-multitriangles::after {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

/*.ss-style-multitriangles::before {
  top: -25px;
  background: inherit;
  box-shadow: -50px 50px 0 #3498db, 50px -50px 0 #3498db;
}*/

.ss-style-multitriangles::after {
  bottom: -25px;
  z-index: 10;
  background: rgba(0,0,0,0.1);
  box-shadow: -50px 50px 0 rgba(0,0,0,0.1), 50px -50px 0 rgba(0,0,0,0.1);
}
