/* http://www.glish.com/css/hacks.asp */

/* http://www.positioniseverything.net/easyclearing.html */

/* http://www.cssplay.co.uk/ */

/* CLEARFIX CODE */

.clearfix:after {
   content: ".";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
   }

.clearfix {display:inline-block;} /* Required for IE */

/* Holy Hack Targets IE Win only \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End Holy Hack */

/* THIS CODE FIXES THE IE/MOZILLA FLOAT CLEAR PROBLEM */

div.clear {clear:both;}

/* END FLOAT CLEAR CODE */

html, body {
   margin:0;
   padding:15px 0 25px 0;
   border:0;
   }

body {
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-size:10pt;
   font-weight:normal;
   color:#000;
   text-align:left;
   background:#b9cbb3;
   }

/* Removes 1px space below images that MOZ adds */
img {vertical-align:bottom;}

#inner_container {
   position:relative;
   margin:0 auto;
   padding:0 0 40px 0;
   text-align:left;
   width:1000px;
   top:0;
   background:#fff;
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-size:10pt;
   font-weight:normal;
   color:#000;
   border-top:3px solid #8a8;
   border-left:3px solid #8a8;
   border-right:3px solid #030;
   border-bottom:3px solid #030;
   overflow:hidden;
   }

#left_content {
   position:relative;
   float:left;
   width:465px;
   top:30px;
   padding:0 15px 30px 20px;
   margin:0;
   color:#000;
   text-align:left;
   }

#right_content {
   position:relative;
   float:right;
   width:465px;
   top:30px;
   padding:0 20px 30px 15px;
   margin:0;
   color:#000;
   text-align:left;
   }

   /* GOLD BULLETS ON UNORDERED LISTS */
#right_content ul, #left_content ul {
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-size:10pt;
   font-weight:normal;
   line-height:16px;
   list-style:none;
   margin:0;
   padding:0;
   padding-left:8px;
   }

#right_content li, #left_content li {
   background:url('images/bullet.gif') 0 6px no-repeat;
   padding-left:14px;
   }
   /* END LIST */

   /* GOLD BULLETS ON UNORDERED LISTS */
.list ul {
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-size:10pt;
   font-weight:normal;
   line-height:16px;
   list-style:none;
   margin:0;
   padding:0;
   }

.list li {
   background:url('images/bullet.gif') 0 5px no-repeat;
   padding-left:12px;
   }
   /* END LIST */

   /* BEGIN HEADER SECTION */
#header {
   display:block;
   position:relative;
   width:1000px;
   height:130px;
   top:0;
   left:0;
   padding:0;
   margin:0;
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-size:10pt;
   font-weight:normal;
   background:transparent;
   text-align:center;
   }

#logo {
   display:block;
   position:absolute;
   width:121px;
   height:100px;
   top:6px;
   left:10px;
   z-index:50;
   background:transparent;
   }

#logo img {
   width:121px;
   height:120px;
   padding:0;
   margin:0;
   }

#title {
   position:absolute;
   left:150px;
   top:20px;
   color:#1C6F24;
   text-align:left;
   background:transparent;
   }

#title p {
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-size:20pt;
   font-weight:bold;
   text-transform:uppercase;
   margin:0;
   padding:10px;
   }

#companyquote {
   position:absolute;
   width:220px;
   left:300px;
   top:60px;
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-weight:bold;
   text-align:left;
   background:transparent;
   color:#C33610;
   font-style:italic;
   font-size:12pt;
   line-height:20px;
   }

#contact {
   position:absolute;
   top:16px;
   right:20px;
   width:420px;
   background:transparent;
   color:#1C6F24;
   font-weight:normal;
   font-size:10pt;
   font-family:Arial,Helvetica,sans-serif;
   }

#contact a {
   color:#C33610;
   background:transparent;
   font-weight:bold;
   text-decoration:none;
   }

#contact a:link, #contact a:visited, #contact a:active {
   text-decoration:none;
   }

#contact a:hover {
   text-decoration:underline;
   }

.rule {
   position:relative;
   display:block;
   width:460px;
   height:1px;
   margin:0 auto;
   background:url('images/hr.gif') top center repeat-x;
   }

   /* END HEADER SECTION */

   /* MAIN ARTICLE DIV */

h2 {
   font-family:Verdana,Arial,Helvetica,sans-serif;
   font-size:13pt;
   font-weight:normal;
   text-align:left;
   color:#C33610;
   border-bottom:1px solid #C33610;
   text-transform:capitalize;
   text-transform:uppercase;
   }

p {
   font-family:Arial,Helvetica,sans-serif;
   font-size:10pt;
   font-weight:normal;
   line-height:16px;
   text-align:left;
   }


.article {
   position:relative;
   float:left;
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-size:10pt;
   font-weight:normal;
   color:#000;
   text-align:justify;
   margin:15px 0 0 0;
   }

.article p {
   margin:0;
   }

/*.article img {
   border:1px solid #fff;
   }*/

.floatholder {
/*   border:4px solid #000;
   background:#dc8; */
   margin:0 0 10px 0;
   font-size:10pt;
   }

.floatleft {
   float:left;
   width:415px;
/*   background:#ac8; */
   border:none;
   color:#fff;
   }

.floatholder p.left {
   margin:0 0 0 210px;
   }

.floatholder p.right {
   margin:0 210px 0 0;
   }

.floatleft img {
   float:left;
   }

.floatright {
   float:right;
   width:410px;
/*   background:#ac8; */
   border:none;
   color:#fff;
   }

.floatright img {
   float:right;
   }

/*.floatholder {
/*   width:700px;
   margin:3px 0 40px 0;
   padding:15px;
   font-size:10pt;
   }

.floatleft {
   float:left;
   width:140px;
   color:#000;
   }

.floatholder p.left {
   margin:0 0 0 220px;
   }

.floatholder p.right {
   margin:0 220px 0 0;
   }

.floatleft img {
   float:left;
   border:1px solid #000;
   }

.floatright {
   float:right;
   width:210px;
   color:#fff;
   }

.floatright img {
   float:right;
   border:1px solid #c90;
   }

/* END ARTICLE DIV */

.pic {
   display:block;
   margin:20px 0 25px 0;
   color:#c90;
   text-align:center;
   }

.pic img {
   border:0;
   }

   /* GLOBAL LINK HANDLING */
a:visited, a:link, a:active {
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-weight:normal;
   font-size:10pt;
   color:#000;
   background:transparent;
   text-decoration:underline;
   }

a:hover {
   font-family: Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-weight:normal;
   font-size:10pt;
   color:#fa0;
   background:transparent;
   text-decoration:underline;
   }
   /* END GLOBAL LINK HANDLING */

.quote {
   color:#C33610;
   background:transparent;
   font-weight:bold;
   text-align:justify;
   font-style:italic;
   }

.fineprint, .fineprint a:visited, .fineprint a:link, .fineprint a:active {
   font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
   font-weight:normal;
   font-size:8pt;
   color:#000;
   background:transparent;
   text-decoration:none;
   text-align:center;
   }

.fineprint a:hover {
   color:#c90;
   background:transparent;
   text-decoration:none;
   }

/* DROP DOWN MENU BAR */

#menu_container {
   margin:0 auto;
   position:relative;
   width:488px;
   height:25px;
   z-index:100;
   }

/* Get rid of the margin, padding and bullets in the unordered lists */
#pmenu, #pmenu ul {
   padding:0;
   margin:0;
   list-style-type:none;
   }

/* Set up the link size, color and borders */
#pmenu a, #pmenu a:visited {
   display:block;
   width:120px;
   font-size:11px;
   color:#fff;
   height:25px;
   line-height:24px;
   text-decoration:none;
   text-align:center;
   border-left:1px solid #fff;
   border-right:1px solid #000;
   }

/* Set up the sub level borders */
#pmenu li ul li a, #pmenu li ul li a:visited {
   width:160px;
   border-width:0 1px 1px 1px;
   text-align:left;
   text-indent:10px;
   }

#pmenu li a.enclose, #pmenu li a.enclose:visited {
   width:160px;
   border-left:1px solid #fff;
   border-right:1px solid #000;
   }

/* Set up the list items */
#pmenu li {
   float:left;
   background:#666;
   }

/* For Non-IE browsers and IE7 */
#pmenu li:hover {
   position:relative;
   }

/* Make the hovered list color persist */
#pmenu li:hover > a {
   background:#999;
   color:#fa0;
   }

/* Set up the sublevel lists with a position absolute for flyouts and overrun padding. The transparent gif is for IE to work */
#pmenu li ul {
   display:none;
   }

/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs */
#pmenu li:hover > ul {
   display:block;
   position:absolute;
   top:-11px;
   left:80px;
   padding:10px 30px 30px 30px;
   background:transparent url(transparent.gif);
   width:160px;
   }

/* Position the first sub level beneath the top level liinks */
#pmenu > li:hover > ul {
   left:-30px;
   top:16px;
   }

/* get rid of the table */
#pmenu table {
   position:absolute;
   border-collapse:collapse;
   top:0;
   left:0;
   z-index:110;
   font-size:1em;
   }

/* For IE5.5 and IE6 give the hovered links a position relative and a change of background and foreground color. This is needed to trigger IE to show the sub levels */
* html #pmenu li a:hover {
   position:relative;
   background:#999;
   color:#fa0;
   }

/* For accessibility of the top level menu when tabbing */
#pmenu li a:active, #pmenu li a:focus {
   background:transparent;
   color:#000;
   }

/* This lot is for IE5.5 and IE6 ONLY and is necessary to make the sublevels appear */

/* change the drop down levels from display:none; to visibility:hidden; */
* html #pmenu li ul {
   visibility:hidden;
   display:block;
   position:absolute;
   top:-11px;
   left:80px;
   padding:10px 30px 30px 30px;
   background:transparent url(transparent.gif);
   }

/* keep the third level+ hidden when you hover on first level link */
#pmenu li a:hover ul ul{
   visibility:hidden;
   }

/* keep the fourth level+ hidden when you hover on second level link */
#pmenu li a:hover ul a:hover ul ul{
   visibility:hidden;
   }

/* keep the fifth level hidden when you hover on third level link */
#pmenu li a:hover ul a:hover ul a:hover ul ul{
   visibility:hidden;
   }

/* keep the sixth level hidden when you hover on fourth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul ul {
   visibility:hidden;
   }

/* make the second level visible when hover on first level link and position it */
#pmenu li a:hover ul {
   visibility:visible; left:-30px; top:14px; lef\t:-31px; to\p:15px;
   }

/* make the third level visible when you hover over second level link and position it and all further levels */
#pmenu li a:hover ul a:hover ul{
   visibility:visible; top:-11px; left:80px;
   }

/* make the fourth level visible when you hover over third level link */
#pmenu li a:hover ul a:hover ul a:hover ul {
   visibility:visible;
   }

/* make the fifth level visible when you hover over fourth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul {
   visibility:visible;
   }

/* make the sixth level visible when you hover over fifth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul a:hover ul {
   visibility:visible;
   }

/* END DROP DOWN MENU */

